{% extends _layout %}

{% block navbar %}{% set moption = 'financing' %}{{ parent() }}{% endblock %}

{% block style %}
  {{ parent() }}
  <style>
    .navbar-brand {
      font-family: myFont;
    }

    .info {
    	text-align: justify;
    }
  </style>    
{% endblock %}
    
{% block container %} 
	<div class="row">
    	<h2 class="page_title">Financing</h2>
    	<div class="col-md-offset-1 col-md-10">
    		<p class="info"><strong>Coming soon...</strong></p>
    	</div>
    </div>		
{% endblock %}

